/* @import url("reset.css"); */


/* Тип №2. Селектор класу */
.header__title {
	color:rgba(30, 4, 180, 0.712);
}

/* Тип №1. Селектор тегу */
p{
	color:brown;

}
.list {
	color:rgba(0, 213, 255, 0.712);
}
#introduction-st,
#description-st{
		color:rgb(0, 255, 42);
}	

.main__description ~ p{
	color:rgb(16, 24, 16);
	font-size: 15px;
}
/* Усі об'єкти з класом blue-text в середені 
	об'єктів з класом lesson.
	Рівень вкладеності значення немає
*/
.title .red{
	color:red;
	font-size: 100px;
}
/* КОМБІНАЦІЇ СЕЛЕКТОРІВ */

/* Усі DIV але лише з класом text 
	НІЯКИХ ПРОБІЛІВ МІЖ СЕЛЕКТОРАМИ!
*/
div.sm-text{
	color: rgb(0, 254, 68);
}

/* КОМБІНАЦІЇ СЕЛЕКТОРІВ */
/* Усі теги але лише з 
	класами page__text та text ОДНОЧАСНО 
	НІЯКИХ ПРОБІЛІВ МІЖ СЕЛЕКТОРАМИ!
*/
.footer__fact.title{
	color: rgb(76, 254, 0);
	
}
/* КАСКАДНІСТЬ (ВКЛАДЕНІСТЬ) СЕЛЕКТОРІВ */
/* ОБОВ'ЯЗКОВО ПРОБІЛ МІЖ ЕЛЕМЕНТАМИ */

/* Усі теги A але тільки в середені об'єктів з класом lesson
	рівень вкладеності значення немає
 */
.footer__fact spam{
	color: rgb(0, 17, 254);
	font-size: 30px;

}
/* Усі теги P першого рівня (безпосередні) 
	в середені об'єктів з класом text 
*/
.footer__item > li{
	color: bisque;
}
/* Селектори атрибутів */
[class*="__container"] {
	color: rgb(8, 8, 184);
	font-size: 17px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}