@import url("fonts.css");
@import url("reset.css");

body {
	background: wheat;
	font-family: "Inter", sans-serif;
	font-weight: normal;
	font-size: 18px;
	color: #7D7D7D;
	line-height: 1.5;
}

.container {
	background: white;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 10px;
}

.header__top-inner li {
	text-align: center;
	font-family: 'DM Serif Text', serif;
	font-size: 35px;
	letter-spacing: 10px;
}

li .header__link {
	margin: 20px 0 20px;
	display: inline-block;
}

li a:active {
	color: brown;
	text-decoration: underline;
	text-transform: uppercase;
}

.main__box {
	margin: 0px 0px 40px 0px;
}

.box__img {
	margin: 0 0 37px 0;
}

.box__img {
	width: 100%;
}

.main__title {
	color: #37393F;
	font-size: 30px;
	margin: 0px 0px 20px 0px;
	text-transform: capitalize;
}

.main__title+p {
	line-height: 1.4;
	margin-bottom: 42px;
}

.second-box>h3 {
	color: #6B77E5;
	margin-bottom: 23px;
}

.second-box>h3,
.main__title,
.box__benefits h3,
.box__benefits p {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	line-height: 1.27;
}

.second-box__img {
	min-width: 50%;
	margin: 0 40px 0 0;
	height: 266px;

}

.box__benefits {
	max-width: 50%;
}

.box__benefits h3 {
	color: #37393F;
	font-size: 25px;
	margin: 0px 0px 15px 0px;
}

.box__benefits p,
.second-box>h3 {
	font-size: 20px;
}

.box__benefits p {
	color: #40DDB6;
}

.second-box>p {
	margin: 0px 0px 40px 0px;
}

.box__benefits {
	display: inline-block;
}

.box__benefits>p {
	margin: 0px 0px 24px 0px;
}

.box__benefits li {
	margin: 0px 0px 35px 0px;
}

.main__wrapper {
	margin: 0px 0px 30px 0px;
}

.wrapper__box {
	display: flex;
}

.wrapper__inner span {
	color: #D06B00;
	font-size: 28px;
}

.wrapper__inner p {
	margin: 0px 25px 13px 0px;
}

.wrapper__inner h3 {
	color: #0E333D;
	font-size: 59px;
	font-family: "DM Serif Text", sans-serif;
	line-height: 1.5;
	margin: 0px 0px 25px 0px;
}

.wrapper__inner {
	max-width: 48%;
}

.wrapper__img {
	max-width: 52%;
}

.first-wrapper p {
	color: #474747;
	font-size: 20px;
	line-height: 1.8;
}

.wrapper__img .wrapper-first {
	margin: 0px 22px 0px 0px;
}