@import url("https://fonts.googleapis.com/css?family=Inter:regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sofia+Sans:600,600italic&display=swap");


/* @font-face {
	font-family: "Inter";
	src: 	
		url("../fonts/Inter-Medium.woff2"), format("woff2"),
		url("../fonts/Inter-Medium.woff"), format("woff");
font-weight: 500;
font-style: normal;
font-display: swap;
}
@font-face {
	font-family: "Inter";
	src: 	
		url("../fonts/Inter-Regular.woff2"), format("woff2"),
		url("../fonts/Inter-Regular.woff"), format("woff");
font-weight: normal;
font-style: normal;
font-display: swap;
} */
/* @font-face {
	font-family: "Izhitz";
	src: 	
		url("../fonts/Izhitz.woff2"), format("woff2"),
		url("../fonts/Izhitz.woff"), format("woff");
font-weight: normal;
font-style: normal;
font-display: swap;
} 
@font-face {
	font-family: "Rutenia";
	src: 	
		url("../fonts/Rutenia.woff2"), format("woff2"),
		url("../fonts/Rutenia.woff"), format("woff");
font-weight: normal;
font-style: normal;
font-display: swap;
}  */