@import url("fonts.css");
@import url("reset.css");



body {
	background: rgb(255, 249, 241);
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	color: #7D7D7D;
	max-width: 1140px;
	margin: 0 auto;

}

[class*="__container"] {
	background-color: white;
	padding: 10px 10px;
}

.title {
	color: #37393F;
	text-transform: capitalize;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

.header__title {
	margin-top: 50px;
	line-height: 100px;
	font-family: "Fuggles", sans-serif;
	color: cadetblue;
	text-decoration: overline;
	text-transform: none;
	font-size: 50px;
	border-radius: 50px;


}

.title-header>p {
	text-align: center;
	border-bottom: 2px solid #000000;
}

.about__title {
	font-size: 30px;
	text-decoration: underline;
	line-height: 38.10px;
	text-shadow: 1px 0 2px #01d36d;
}

.button>span {
	line-height: 3;
	padding: 10px 10px 10px 10px;
	border-radius: 50px;
	border: 1px solid #151501;
	text-decoration: underline;
}

.project__title {
	font-size: 40px;
	font-weight: 700;
	line-height: 50.80px;
}

.about__section {
	line-height: 26.31px;
}

.about__sub-title,
.about__title {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}

.about__sub-title {
	color: #6B77E5;
	font-size: 20px;
	line-height: 25.40px;
}

.text-project {
	line-height: 26.31px;
	text-align: justify;
}

.text-project,
.text-about {
	text-align: justify;
}

.photo {
	text-align: center;
}

.list {
	color: #7D7D7D;
	font-weight: 500;
}

div>ul,
div>ol {
	padding: 20px 0 20px 0px;
	text-indent: 20px;
}

ul>li,
ol>li {
	padding: 0px 0 10px 0px;
}

.main-page__item {
	text-align: center;

}

.item__text,
.item-title,
.item-main__sm-text {
	font-family: 'Sofia Sans';
	font-weight: 600;
	color: rgb(59, 46, 33);

}

.item-title {
	font-size: 44px;
	color: peru;
	line-height: 81px;
	letter-spacing: 1.5px;
}

.item__text>p {
	text-align: justify;
	font-size: 25px;
	line-height: 30px;
	text-align: center;
	font-style: normal;

}

.item-main__sm-text {
	line-height: 2;
	font-size: 20px;
	text-align: justify;
	font-style: italic;
}

.title__section {
	font-family: "Poppins", serif;
	font-size: 45px;
	color: #000000;
	letter-spacing: 1.5px;
	text-decoration: underline;
}

.section-text {
	text-align: center;

}

.section-text>p {
	font-family: "Inter", serif;
	font-size: 26px;
	text-align: justify;
	text-indent: 45px;
	line-height: 1.5;

}

.section-text>img {
	max-width: 1100px;
}

ul>li {
	text-indent: 25px;
	/* word-spacing: 5px; */
	font-size: 35px;
	/* letter-spacing: 5px; */
	text-shadow: 1px 2px 2px cadetblue
}

li>a {
	font-style: oblique;
	text-decoration: underline;

}

/* _----------------img_------------- */

.section-text>img {
	text-align: center;
	line-height: 20px;
}

.header__section>.img {
	border: none;
}

.img {
	max-width: 1100px;
	border: 2px solid #ffffff;
	border-radius: 50px;
}